.page {
    background: #f8f8f8;
    min-height: 600px;
}

.page__hd {
    height: 45px;
    background: rgba(0, 0, 0, 0.73);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}


.page__hd .page__title {
    padding: 2px;
    text-align: center;
}

.page__hd .page__label {
    font-size: 18px;
    position: relative;
    bottom: 5px;
}

.page__bd {
    padding: 3px;
}

.weui-flex__money {
    width: 100%;
}
.weui-flex__money img {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: auto;
}

.weui-cells_form {
    /* position: relative; */
}

.weui-btn__footer {
    position: relative;
    top: 100px;
}

.grids-header {
    background: #999999;
    color: #fff;
}

.grids-header .iconfont,.weui-grid__label {
    color: #fff;
    line-height: 1;
}

.page__bd_menu {
    padding: 0;
}

.page__bd_menu .grids-header .weui-grid__label_light {
    color: #d5d5d6;
}

.icon-blue {
    color: #1296db !important;
}

.icon-yellow {
    font-size: 65px !important;
    color: rgba(236, 236, 63, 0.49);
}
.tx-center {
    text-align: center;
}

.wallet-title {
    font-size: 18px;
    font-weight: 400;
    word-break: break-all;
}

.wallet-number {
    font-size: 34px;
    font-weight: 400;
}

.wallet-address {
    font-size: 14px;
    font-weight: 400;
    word-break: break-all;
}

.ledger-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 140px;
    color: blue;
}

.ledger-other {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.36);
}

.ledger-expenses {
    color:  red;
}

.ledger-revenue {
    color:rgb(0, 239, 17);
}

.ledger-fail {
    color: #000;
}

.ledger-executing {
    color: rgba(255, 196, 0, 0.9);
}

.ledger-fr {
    float: right;
}

.ledger-detail-area {
    padding: 5px 15px;;
}

.ledger-detail-number {
    font-size: 40px;
}

.line::before {
    border-top: 1px solid rgb(229, 229, 229);
    content: " ";
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
}